In [1]:
#lets now import all the required libraries
import requests
from selenium import webdriver

browser = webdriver.Chrome()

browser.get("https://www.naukri.com/")
from bs4 import BeautifulSoup

In [2]:
#finding element for job search bar 
search_job = browser.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data scientist")

In [3]:
#do click using xpath function
search_loc = browser.find_element_by_id ("qsb-location-sugg")
search_loc.send_keys("Dehli/NCR")

In [4]:
#do click using class_name function
search_btn = browser.find_element_by_class_name ("btn")
search_btn.click()

In [5]:
#lets open the webpage through our webdriver
url="https://www.naukri.com/data-scientist-jobs-in-dehli-ncr?k=data%20scientist&l=dehli%2Fncr&cityTypeGid=9508&ctcFilter=3to6"

In [6]:
#lets open the webpage through our webdriver
browser.get(url)

In [7]:
job_titles=[]  # empty list
company_names=[] # empty list
location_list=[] # empty list
experience_required=[] # empty list

In [8]:
title_tags = browser.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="d552e886-a8a8-46c4-bcf4-4e19a1943bf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="362d9256-883b-4d91-b1b8-ab0ac9c88317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="dcf5b337-116d-463f-8239-e50dae17bd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="9f75b04b-7973-49aa-ae37-7028691f80c4")>]

In [9]:
job_titles=[] # empty list
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [10]:
job_titles[0:4]

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist']

In [11]:
company_tags = browser.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="c06dea28-40dd-4510-b4ba-2ae7703ce34c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="28c2a4fe-1044-495e-9e7e-bee6613b39d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="f10bc0d9-2dc8-465a-b53c-cae9f667d588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="6b432bc1-6f51-46a0-b4f8-6d5556996ac8")>]

In [12]:
company_name=[]# empty list
for i in company_tags:
    company=i.text
    company_name.append(company)

In [13]:
company_name[0:4]

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)']

In [14]:
experience_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="14ae74f3-9501-4aa1-ad5e-20854830dd72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="ca797e1e-b6fb-4a3e-930c-295438dfc419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="8e1f91a6-402b-4e7a-b4b4-27d7bbe51381")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="563faa4a-7dbb-49f4-a5b7-b92a4a53befc")>]

In [15]:
experience_years=[] # empty list
for i in experience_tags:
    experience=i.text
    experience_years.append(experience)

In [16]:
experience_years[0:4]

['0-3 Yrs', '0-5 Yrs', '3-7 Yrs', '0-5 Yrs']

In [17]:
location_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="5694a287-73b2-42a7-bae5-7b779803223a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="e5917a64-67c8-40e5-87f4-43e213c90416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="1aa0dfb0-f40a-4c66-a737-c01e24d98ee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d2bf3b03adbec5e2368c9ca95de33b8c", element="3e2e4f22-f4eb-499e-af25-f421ca8286e5")>]

In [18]:
locations=[] # empty list
for i in location_tags:
    location=i.text
    locations.append(location)

In [19]:
locations[0:4]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi']

In [20]:
print(len(job_titles), len(company_name), len(locations), len(experience_years))

20 20 20 20

In [21]:
# Make data frame
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_name
jobs['location']=locations
jobs['experience_required']=experience_years
jobs

,title,company,location,experience_required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
2,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,0-5 Yrs
4,Junior Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,"Noida, Gurgaon/Gurugram, Delhi / NCR",4-7 Yrs
6,Data Scientist,Milliman India Pvt Ltd,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,Noida,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,Gurgaon/Gurugram,2-7 Yrs
9,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
10,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
11,Data Scientist,Evalueserve.com Pvt. Ltd,Gurgaon/Gurugram,4-7 Yrs
12,Data Scientist,BlackBuck,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
13,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
14,Data Scientist,Mahajan Imaging,New Delhi,2-6 Yrs
15,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs
16,Associate Data Scientist,Right Step Consulting,Noida,3-6 Yrs
17,Associate Data Scientist,Blow Trumpet Solutions,New Delhi,1-5 Yrs
18,Data Scientist - Python/ SQL,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
19,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon,3-8 Yrs