## Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually

So, in this notebook we will scrape data from www.naukri.com website for Data-Scientist job role and "Bangalore" location. we will scrape 4 fields for each job. 
1. Job-title
2. Job-location
3. Company_name
4. Experience_required

In [1]:
#lets now import all the required libraries
import requests
from selenium import webdriver
browser = webdriver.Chrome()
browser.get("https://www.naukri.com/")
from bs4 import BeautifulSoup

In [2]:
#finding element for job search bar 
search_job = browser.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst") #write on search bar

In [3]:
#do click using xpath function
search_loc = browser.find_element_by_id ("qsb-location-sugg")
search_loc.send_keys("Banglore")

In [4]:
#do click using class_name function
search_btn = browser.find_element_by_class_name ("btn")
search_btn.click()

In [5]:
#specifying the URL of webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"

In [6]:
#lets open the webpage through our webdriver
browser.get(url)

Now we will see in the window opened by the webdriver whether the
webpage has opend on not. Let's check it 
so, Now lets first create 4 empty lists. In these lists the data will be stored while scraping. We have created 4 empty lists for 4 features which we have to extract.
1. Job-title
2. Job-location
3. Company_name
4. Experience_required <br>

First, we will extract all tags where we have the job titles. Let me first show you on the webpage in which taages the job titles are put.

In [7]:
job_titles=[] # empty list
company_names=[] # empty list
location_list=[] # empty list
experience_required=[] # empty list

In [8]:
#so lets extract all the tags having the job-title
title_tags = browser.find_elements_by_xpath ("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="88043cbd-9e42-4b2a-a87d-2f3c631e186c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="76bb5092-6dc6-4cde-8580-755e825c7665")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="d4f3ced4-6377-4d4b-a357-438a62a3e8b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="26f84136-fb3a-42ee-a456-e45cb5e72263")>]

In [9]:
#so we will run a loop to itrate over the tags extracted above and extract the text inside them.
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data analysts',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'data analyst',
 'RC HIA - Data Analyst - A2',
 'Data Analyst (Contractual)',
 'Procurement Data Analyst',
 'Data Analyst',
 'Hiring Consultant Data Analyst Contractual',
 'Data Analyst/ Data Consultant (Various Levels – Senior/ Mid/ Junior)',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [10]:
job_titles[0:4]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs']

In [11]:
location_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="3f712680-4239-47af-9e32-109f4f90ed70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="f4b4f77c-d206-4f31-9928-ce44a15b22ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="52ac07db-e115-42fc-88b6-c232e70476bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="03fc359e-ce9c-40d7-8e7c-363f1b566663")>]

In [12]:
location_name=[]
for i in location_tags:
    location=i.text
    location_name.append(location)

In [13]:
location_name[0:4]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru']

In [14]:
company_tags = browser.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="85e4faa7-7e86-40b8-b9a6-5b8023a3ddfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="84ed7045-644b-49a1-a6ae-78e1a75b1c13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="4bcef9ec-196a-4971-9773-5ed114e53749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="2308e3f2-2766-4ddd-9bee-45091fc063f4")>]

In [15]:
company_name=[]
for i in company_tags:
    company=i.text
    company_name.append(company)

In [16]:
company_name[0:4]

['Inflexion Analytix Private Limited',
 'Opex Global Services',
 'Shell India Markets Private Limited',
 'Mind Circus Innovation']

In [17]:
experience_tags = browser.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="6cc31fd1-4269-4d0b-a522-0e78070519ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="079b98de-5e90-4e76-bc2e-577eb2513119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="4c9ae93f-8589-45d4-b2f0-a94d27ce3494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a1bccc81b0092f8a83e2e999f9c2bcb7", element="d310715f-12ba-4f9a-9b14-01b8f01c6b49")>]

In [18]:
experience_required=[]
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [19]:
experience_required[0:4]

['0-3 Yrs', '5-10 Yrs', '6-9 Yrs', '0-1 Yrs']

In [20]:
print(len(job_titles), len(company_name), len(location_name), len(experience_required))

20 20 20 20

In [21]:
#imorting and making panda for Data frams
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Location']=location_name
jobs['Experience_required']=experience_required
jobs

,Title,Company,Location,Experience_required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Senior Data Analyst - Data Lineage,Opex Global Services,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",0-1 Yrs
4,Data analysts,IBM India Pvt. Limited,Bangalore/Bengaluru,3-5 Yrs
5,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,Bangalore/Bengaluru,4-8 Yrs
6,Business Data Analyst,"dotSolved India Pvt., Ltd.","Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",9-13 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-8 Yrs
9,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,1-4 Yrs
10,data analyst,Disha Consultants,"Pune, Chennai, Jaipur, Bangalore/Bengaluru",2-4 Yrs
11,RC HIA - Data Analyst - A2,Pricewaterhouse Coopers Private Limited,Bangalore/Bengaluru,4-6 Yrs
12,Data Analyst (Contractual),Flipkart Internet Private Limited,Bangalore/Bengaluru(Bellandur),1-4 Yrs
13,Procurement Data Analyst,Schneider Electric,Bangalore/Bengaluru,1-3 Yrs
14,Data Analyst,IBM India Pvt. Limited,Bangalore/Bengaluru,5-10 Yrs
15,Hiring Consultant Data Analyst Contractual,Flipkart Internet Private Limited,Bangalore/Bengaluru,2-6 Yrs
16,Data Analyst/ Data Consultant (Various Levels ...,DVSUM INDIA PRIVATE LIMITED,Bangalore/Bengaluru,5-10 Yrs
17,Senior Data Analyst,Cimpress India Private Limited,Bangalore/Bengaluru,3-8 Yrs
18,Senior Data Analyst,Eze Castle Integration Services (Formerly Alph...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",6-11 Yrs
19,Senior Data Analyst,SENSEN VIDEO BUSINESS INTELLIGENCE PVT LTD,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-6 Yrs