### 4.write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida Location. you have to scrape the company_name,No. of days ago when job was posted, Rating of the company
###### this task will be done in the following steps:
    1.first get the web page https://www.glassdoor.co.in/index.htm
    2.Enter "Data Scientist" in "Job title, Keyword, company" field and enter "Noida" in the "location field"
    3. then click the search button. you will landup in the below page
    4.then scrape the data for the first 10 jobs result you get in the above shown page.
    5. Finally create a data frame of the scraped data
    note:- all of the above steps have to be done in the code. no steps is done manually

In [4]:
#lets now import all the required libraries
import requests
from selenium import webdriver

browser = webdriver.Chrome()

browser.get("https://www.glassdoor.co.in/Job/india-jobs-SRCH_IL.0,5_IN115.htm")
from bs4 import BeautifulSoup

In [5]:
search_job = browser.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

In [6]:
search_loc = browser.find_element_by_id ("sc.location")
search_loc.send_keys(",Noida")

In [7]:
search_btn = browser.find_element_by_class_name ("gd-btn-mkt")
search_btn.click()

In [8]:
#specifying the URL of webpage to be scraped
url="https://www.glassdoor.co.in/Job/data-scientist-jobs-SRCH_KO0,14.htm"

In [9]:
#lets open the webpage through our webdriver
browser.get(url)

In [10]:
job_titles=[]
company_names=[]
location_list=[]

In [11]:
title_tags = browser.find_elements_by_xpath ("//a[@class='jobLink css-1rd3saf eigr9kq2']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="e88ec396-0626-43b5-a3d8-1dfad37064ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="58795606-a815-46e1-9438-6d60c8e451ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="87748cbd-4efe-4def-bfe9-c8d23cb5b820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="1df017df-6efa-4926-b382-cbbdd79b78a2")>]

In [12]:
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [13]:
job_titles[0:4]

['Associate / Vice President - Data Engineer | Gurgaon',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist']

In [14]:
location_tags = browser.find_elements_by_xpath("//div[@class='d-flex flex-wrap css-11d3uq0 e1rrn5ka2']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="11b26958-3593-4b22-82d3-930848703575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="30de72fb-2cfd-4134-ad05-381ad49abcc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="a5018aea-7c82-4314-8e11-6edb2ca1eccf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="04be53fc-aae7-41b7-a84c-4b13a1f06ee1")>]

In [15]:
location_name=[]
for i in location_tags:
    location=i.text
    location_name.append(location)

In [16]:
location_name[0:4]

['Gurgaon', 'New Delhi', 'Noida', 'Noida']

In [17]:
company_tags = browser.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="661417d7-e8a3-4d36-99da-e63339d1836e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="9b9d9a50-4ddb-43d9-84ec-7f7c9e519c3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="b9bcf659-776c-4d69-bcc1-a3c5877b5273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d834690c10cbab9947eb628d4ed0b25a", element="2cc8b240-bcc9-434f-96d8-05e3ea501591")>]

In [18]:
company_name=[]
for i in company_tags:
    company=i.text
    company_name.append(company)

In [19]:
company_name[0:4]

['BlackRock', 'Elsevier', 'Adobe', 'Techlive']

In [20]:
#importing pandas data frame
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_name
jobs['location']=location_name

In [21]:
jobs

,title,company,location
0,Associate / Vice President - Data Engineer | G...,BlackRock,Gurgaon
1,Data Analyst,Elsevier,New Delhi
2,Data Scientist,Adobe,Noida
3,Data Scientist,Techlive,Noida
4,Data Scientist,Gauge Data Solutions,Noida
5,Data Scientist,Biz2Credit Inc,Noida
6,Data Scientist,WishFin,Noida
7,Data Scientist,abc consultants,Noida
8,Data Scientist,Salasar New Age Technologies,Noida\n11d
9,Data Scientist,Priority Vendor,Noida
10,Data Scientist,SearchUrCollege,Noida
11,Data Scientist,Srijan Technologies Pvt Ltd,Gurgaon
12,Data Scientist,Healtheoz India,Noida\n26d
13,Data Scientist 2,Microsoft,Noida
14,Data Scientist,xtLytics,Noida
15,Data Scientist,American Express Global Business Travel,Gurgaon
16,Data Scientist,Ciena,Gurgaon
17,Data Scientist,JLL,Gurgaon\nNew\n24h
18,Data Scientist,Ank Aha,New Delhi
19,Data Scientist,Boston Consulting Group,New Delhi
20,Data Scientist,MasterCard,Gurgaon
21,Data Scientist,Analytics Vidhya,Gurgaon\n26d
22,Data Scientist,Fitfyles,New Delhi\nHOT\nEasy Apply\n26d
23,Data Scientist,Mahajan Imaging,New Delhi
24,Data Scientist,NatWest Group,New Delhi
25,Data Scientist,Great Learning,Gurgaon
26,Data Scientist,Profisor Services,Gurgaon\n26d
27,Data Scientist,IMMO,New Delhi
28,Data Scientist,"ESRI, Inc.",New Delhi
29,Data Scientist,Diverse Lynx India,Gurgaon
30,Data Scientist,Axslogic,Gurgaon
31,Data Scientist,Team Computers,New Delhi\n15d